<%= render 'posts/navbar' %>

<div class="container text-center">
  <%= render 'shared/flash' %>

  <h1 class="font-weight-bolder">New Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Back', posts_path %>
</div>
